In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Raw data

In [3]:
df_holidays = pd.read_parquet('20260218_144523_holidays.parquet', engine='pyarrow')
df_sales = pd.read_parquet('20260218_144523_sales_data.parquet', engine='pyarrow')
df_stores = pd.read_parquet('20260218_144523_stores.parquet', engine='pyarrow')
df_weather = pd.read_parquet('20260218_144523_weather.parquet', engine='pyarrow')

In [8]:
pd.set_option('display.max_columns', None)

# Tests

In [13]:
df_weather.head()

,date,time,zipcode,temperature,wind_speed,wind_degree,wind_dir,weather_code,weather_description,precip,humidity,visibility,pressure,cloudcover,heatindex,dewpoint,windchill,windgust,feelslike,chanceofrain,chanceofremdry,chanceofwindy,chanceofovercast,chanceofsunshine,chanceoffrost,chanceofhightemp,chanceoffog,chanceofsnow,chanceofthunder,uv_index
0,2025-04-01,20:00,41812,10.0,16.0,79.0,ENE,113,Clear,0.0,56.0,10.0,1024.0,0.0,10.0,1.0,7.0,32.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2025-04-01,21:00,41812,9.0,16.0,75.0,ENE,113,Clear,0.0,60.0,10.0,1024.0,1.0,9.0,1.0,6.0,32.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2025-04-01,22:00,41812,9.0,18.0,71.0,ENE,113,Clear,0.0,62.0,10.0,1025.0,0.0,9.0,2.0,6.0,33.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,2025-04-01,23:00,41812,8.0,20.0,70.0,ENE,113,Clear,0.0,63.0,10.0,1025.0,2.0,8.0,2.0,5.0,35.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2025-04-01,00:00,41812,6.0,10.0,52.0,NE,113,Clear,0.0,74.0,10.0,1028.0,0.0,6.0,2.0,4.0,21.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [18]:

df_weather.chanceofhightemp.nunique()

1

In [ ]:
rolls = df_sales.category_name.str.contains('Br√∂tchen')
df_sales.loc[rolls, ['category_name']].value_counts()

In [ ]:
plt.figure(figsize=(13,8))

x = df_stores.groupby('store_id')['store_id'].sum()
y = df_stores.average_weekly_revenue_Q1.sort_values(ascending=False)
avg = df_stores.average_weekly_revenue_Q1.median()

plt.bar(x, y, align='edge', color='grey')
plt.plot((x.min(), x.max()), (avg, avg), '-k', lw=3, label='Median')

plt.xlim(0, 61)
plt.legend()
plt.show()

print(avg)